* {padding: 0%;
margin: 0%;
 -webkit-box-sizing:border-box;
 -moz-box-sizing: border-box;
 box-sizing: border border-box;
}
.contenedor {
 width: 95%;
 max-width: 1000px;
 margin: auto;
}
footer{
    background-color: #005883;
    color: oldlace;
}
.titulo{
    text-align: center;
    font-size: xx-large;
    columns: #000000; ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
}
.parrafo
{
	text-align: center;
    font-size: x-large;
	font-family: 'Times New Roman', Times, serif;

}
.parraf
{
	text-align: justify;
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
   

}


*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body{
	background: #f0f0f0;
}

header{
	width: 100%;
}
header figure
{
	width: 380px;
	height: 140px;
	background:url(logo_unadd.jpg);
}
.navegacion{
	width: 1000px;
	margin: 30px auto;
	background: #f2B80D;
}

.navegacion ul{
	list-style: none;
}

.menu > li{
	position: relative;
	display: inline-block;
}

.menu > li > a{
	display: block;
	padding: 15px 20px;
	color: #008FB3;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	text-decoration: none;
}

.menu li a:hover{
	color: #CE7D35;
	transition: all .3s;
}

/* Submenu*/

.submenu{
	position: absolute;
	background: #CFCFCC;
	width: 120%;
	visibility: hidden;
	opacity: 0;
	transition: opacity 1.5s;
}

.submenu li a{
	display: block;
	padding: 15px;
	color: #F55C05;
	font-family: 'Arial';
	text-decoration: none;
}

.menu li:hover .submenu{
	visibility: visible;
	opacity: 1;
}
